---
BasedOnStyle: LLVM
IncludeBlocks: Regroup
InsertNewlineAtEOF: True
NamespaceIndentation: None
AllowAllConstructorInitializersOnNextLine: true
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
---
